page-home {
.blocv{
    display: block;
    margin:auto;
}
.item-ios .item-button, .button-block-ios.qwertty,
.item-md .item-button{
    padding: 17px !important;
    max-width: 220px !important;
    display: block;
    margin: 7px auto;
}
.item-ios-assertive ion-label{
margin-left: 0;
}
.qwerlkjhg.list.list-ios{
    margin: -1px 0 0 !important;
}
}
